<!-- only part of a html document goes in a partial-->
<h1>{{title}}</h1> <!-- in app.js all three pages need to have app.get(title and name) for this to work-->

<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>